.PersonaPicker {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 0;
  list-style: none;
}

.PersonaPicker li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90px; height: 90px;
  margin: 8px;
  border-radius: 4px;

  background-image: url('./images/default.jpg');
  background-size: cover;
  color: #eee;
  
  z-index: 0;
  overflow: hidden;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);

  transition: transform .2s, color .2s, box-shadow .2s ease-out;
}

.PersonaPicker li::before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(56, 118, 194, .4);
  z-index: -1;
}

.PersonaPicker li:hover, .PersonaPicker li.active {
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

.PersonaPicker li.active {
  color: #fff;
  font-size: 1.2em;
}

.PersonaPicker li.bnl { background-image: url('./images/bnl.png'); }

.PersonaPicker li.cadre { background-image: url('./images/cadre.jpg'); }

.PersonaPicker li.cv { background-image: url('./images/cv.png'); }

.PersonaPicker li.jp { background-image: url('./images/jp.png'); }

.PersonaPicker li.pc { background-image: url('./images/pc.png'); }

.PersonaPicker li.prof { background-image: url('./images/prof.jpg'); }

.PersonaPicker li.student { background-image: url('./images/student.jpg'); }

.PersonaPicker li.vc { background-image: url('./images/vc.png'); }

.PersonaPicker li.veto { background-image: url('./images/veto.jpg'); }
